<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sherlocked Gold-Brown Background</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="background">
    <div class="circuit"></div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
    <div class="particle">.</div>
  </div>

 

  <script src="script.js"></script>
  <script>
    
  </script>
</body>
</html>